<!-- Toolbar -->
<div class="toolbar" >

  <span class="page-header">Pumps Overview</span>

</div>
<div class="page-container">
    <div class="clear-top">
      <!-- <button mat-button class="menu-button" (click)="toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button> -->
  
      <a routerLink="/">
        <!-- <span class="app-title">Hamburger Menu Demo</span> -->
      </a>
    </div>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav   #sidenav autoFocus="true" mode="side" [(opened)]="isMenuOpen" class="sidenav" >
        <a mat-button routerLink="/page1">Page 1</a>
        <a mat-button routerLink="/page2">Page 2</a>
        <a mat-button routerLink="/page3">Page 3</a>
        <a mat-button routerLink="/page4">Page 4</a>
        <a mat-button routerLink="/page5">Page 5</a>
      </mat-sidenav>
      <mat-sidenav-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
